<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label class="form-label" for="post-title">Title</label>
      <input class="form-input" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label class="form-label" for="post-contents">Content</label>
      <textarea class="form-input" id="post-contents" name="post-contents"></textarea>
    </div>
    <button type="submit">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>